.most-popular-products {
  background-color: #f7f7f7;
  text-align: center;
  padding: 4em;
  //height:calc(100vh - 40px);
  h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-top: 0;
    color: #111010;
  } 
  p {
    font-size: 1.1rem;
    color: #6d6d6d;   
  } 
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 2vw 17vw 0 17vw;
  }
  a {
    color: #00afbd;
    text-decoration: underline;
    font-size: 1.1rem;
  }
  @media only screen and (max-width: 680px) {
    .products-container {
      flex-direction: column;
      align-content: center;
    }
  }
}