.customer {
  position: relative;
  padding: 0 4em;
  margin: 60px auto;
  background-color: #ffffff;
  min-height: 29em;
  max-width: 40em;
  border-radius: 30px;
  box-shadow: 0px 0px 16px 10px #3636362b;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    position: absolute;
    border: 5px white solid;
    border-radius: 50%;
    top: -40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }
  p {
    font-size: 1rem;
    color: #101010;
    line-height: 1.786;
  }
  .headline-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 2.8em;
    h5{
      font-size: 1.3rem;
      color: #00afbd;
      margin: 8px 0;
    }
    h6{
      font-size: 1rem;
      color: #727272;
      font-weight: 400;
      font-style: italic;
      margin: 0;
    }
  }

}