@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.testimonials{
  background-color: #00afbd;
  text-align: center;
  padding: 4em;
  color: #f8f6f9;
  h2{
    font-weight: 400;
    font-size: 2.1rem;
    margin-top: 0;
  }
  p {
    font-size: 1.1rem;
  }
  .slider-container {
    margin: 0 10%;
  }
  @media only screen and (max-width: 720px) {
    .slider-container {
      margin: 0;
    }
  }

}