$search-container-radius: 8px;
$header-height:  5em;
.quick-search {
  background-image: url(../../../images/background.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% auto;
  background-color: #e5e7eb;
  text-align: center;
  height: calc(100vh - #{$header-height});
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .main-content {
    padding: 0;
    h1 {
      font-size: 3.8rem;
      color: #464646;
      font-weight: bold;
      margin-bottom: 0;
    }
    p {
      font-size: 1.2rem;
      color: #464646;
      text-transform: uppercase;
    }
    .search-container {
      display: flex;
      justify-content: center;
      height: 5em;
      width: calc(400px + 27%);
      margin: 2vw auto;
      box-shadow: 2px 2px #cdcfd2;
      border: 0px solid;
      border-radius: $search-container-radius;
      * {
        border: none;
      }
      .select-category-container {
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        width: 13em;
        border-right: 1px solid #cdcdcd;
        .category {
          background-size: 1rem;
          background-position: top 50% right 2.5em;
          width: 100%;
        }
      }
      .category {
        border-radius: $search-container-radius 0 0 $search-container-radius;
      }
      .input-text {
        width: calc(67% - 4em);
        padding: 0 2em;
      }
      .button {
        font-family: "Raleway";
        font-size: 1.1rem;
        font-weight: bold;
        border-radius: 0 $search-container-radius $search-container-radius 0;      
        width: 20%;
        background-color: #00afbd;
        color: #ffffff;
     }
    } 

    @media only screen and (max-width: 550px){
      .search-container {
        height: 23vw;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: none;
        margin: 4px;
        width: 100%;
        > * {
          height: calc(12px + 3vw);
        }
        .select-category-container {
          padding: 0;
          border-radius: 5px;
          width: 40%;
        }
        .category {
          border-radius: 5px;
        }
        .input-text {
          border-radius: 5px;
          width: calc(40% - 4em);
        }
        .button {
          border-radius: 5px;
          width: 40%;
        }
      }
    }
  }

  .bottom-content {
    padding-bottom: 4vh;
    display: flex;
    justify-content: center;    
    .button-link {
      margin: 12px;
      width: 160px;
      padding: 16px 0;
      background-color:  rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 12%;
        height: 60%;
        margin-right: 10px;
      }
      .how-its-work {
        max-width: 10%;
        height: auto;
      }
      .link {
        font-size: 1rem;
      } 
    }
    .button-link:hover {
      background-color:  rgba(255, 255, 255, 1);
    }
  }
  @media only screen and (max-width: 550px){
    .bottom-content {
      flex-direction: column;   
      align-items: center;

      .button-link {
        margin: 8px;
        width: 40%;
        padding: 8px 0;
        img {
          height: auto;
        }
      }
    } 
  }
}

select {
  padding-left: 2em;
  background-image: url(../../../images/arrow-down-solid.svg);
  background-repeat: no-repeat;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}