$header-height:  5em;
.sign-form {
  height: calc(100vh - #{$header-height});
  font-family: "Raleway";
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form {
  margin: 0 auto;
  width: 340px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 16px 10px #3636362b;
  border: 1px #fff solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column; 
  font-size: 1.2rem;
  label {
    font-weight: bold;
  }
  input {
    font-family: "Raleway";
    font-size: 1.2rem;
    padding: 6px;
    margin: 8px 0 16px 0;
    background-color: #e8f0fe;
    border-radius: 8px;
    border: none;
    &[readOnly] {
    background-color: #8d8d8d;      
    }
  }
  .submit-btn {
    background-color: #2cb34b;
    color: #fff;   
    font-size: 1.4rem;
    &:disabled {
      background-color: #b1b1b1;
    }
  }
}


