.product {
  text-align: left;
  padding: 12px;
  margin: 20px 0;
  background-color: #ffffff;
  img {
    max-width: calc(110px + 10vw);
    height: auto;
  }
  p {
    color: #8c8c8c;
    margin-top: 8px;
  }
}