@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700');


$base-font-size: calc(8px + 0.24vw);

html {
  font-size: $base-font-size;
  @media only screen and (max-width: 900px) {
   font-size: calc(8px + 0.20vw);
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6e8eb;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000;
}

.roleway-medium {
  font-family: "Raleway";
  color: #828282;
  font-size: 1.1rem;
}
.green {
  color: #007300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
