.footer {
  background-color: #2e2e2e;
  .top-content {
    padding: 40px 0;
    .img-container, .links-container {
      display: flex;
      justify-content: center;
    }
    img {
      width: inherit;
      height: auto;
    }
    a {
      display: inline-block;
      padding: 32px 16px 0px 16px;
      color: #f7f7f7;
      text-transform: uppercase;
    }
  }
  .bottom-content {
    background-color: #222222;
    display: flex;
    justify-content: center;
    color: #f7f7f7;
    padding: 20px 0;
  }
  @media only screen and (max-width: 480px) {
    .links-container{
      flex-direction: column;
      align-items: center;
    }
  }
}