$header-height:  5em;
.new-product-form {
  height: calc(100vh - #{$header-height});
  font-family: "Raleway";
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    padding-block-end: 0.83em;
    border-bottom: 1px rgb(119, 119, 119) solid;
  }
}
