$header-height:  5em;
.new-product-form {
  height: calc(100vh - #{$header-height});
  font-family: "Raleway";
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .category {
    background-size: 1rem;
    padding: 1rem 1rem 1rem 2rem;
    background-position: top 50% right 2.5em;
    width: 100%;
    border-radius: 8px;
  }
}
