$header-height: 5em;
header {
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: $header-height;
  padding: 0 10vw;
  background-color: rgba(229, 231, 235, 1);
  .sidenav-button {
    display: none;
  }
  .imgContainer{
    display: block;
    position: relative;
    padding: 0;
  }
  .logo {
   width: 200px;
  }
  .header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    :last-child {
      border-left: 1px solid #d1d1d1;
    }
  }
  a {
    padding: 1em 0 1em 3.2em;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
  a:hover {
    text-decoration: underline;
  }
  .log-in {
    padding-right: 1.6vw;
  }
  @media only screen and (max-width: 580px) {
    padding-left: 2em;
    
    .sidenav-button {
      display: block;
      background: none;
      border: none;
    }
    .close {
      position: absolute;
      right: 0;
      top: 0;
      padding: 8px;
    }
    .header-links {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      overflow-x: hidden;
      transition: 0.3s;
      flex-direction: column;
      justify-content: flex-start;
      align-items: baseline;
    }
    .nav-links {
      width: 140px;
      background-color: #d1d1d1;
    }
  }
}